<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193885194531-87tom23mc1rtvbod2589oi2maj79rl90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193885194531-87tom23mc1rtvbod2589oi2maj79rl90</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>193885194531-tdrh54sj9599gp7p778lq2hg0g9vo74n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJrywqhR03ObwO2bAFKkrS_tyTZzqL8aQ</string>
	<key>GCM_SENDER_ID</key>
	<string>193885194531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authTest55</string>
	<key>PROJECT_ID</key>
	<string>project-19b8b</string>
	<key>STORAGE_BUCKET</key>
	<string>project-19b8b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193885194531:ios:4f5db6368c8d9fc84be496</string>
</dict>
</plist>